{% extends 'base.html' %}
{% block content %}
<h3>Edit Task</h3>
<form method="post" class="mt-3">
  <div class="mb-3">
    <label class="form-label">Title</label>
    <input name="title" class="form-control" value="{{ todo.title }}" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Description</label>
    <textarea name="description" class="form-control" rows="3">{{ todo.description }}</textarea>
  </div>
  <div class="row g-3">
    <div class="col-md-6">
      <label class="form-label">Date</label>
      <input name="date" type="date" class="form-control" value="{{ todo.due_date }}">
    </div>
    <div class="col-md-6">
      <label class="form-label">Time</label>
      <input name="time" type="time" class="form-control" value="{{ todo.due_time }}">
    </div>
  </div>
  <button class="btn btn-primary mt-3">Save</button>
</form>
{% endblock %}